{% extends 'layouts/base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block extra_head %}
  {% load static %} 
  <link rel="stylesheet" href="{% static 'projects/styles.css' %}">
{% endblock %}

{% block content %}

<!-- <button class="icon-create-tk">+</button> -->

<div class="overlay-blur"></div>

<div class="container-dts-pr">
  <div class="container-pr">
    <header class="header-pr">
      <div class="bs-pr">
        <a href="{% url 'projects' %}" title="proyectos"><i class="fa-regular fa-circle-left"></i></a>
        <div>
          <h1 class="pr-name" title="{{ project.name }}">{{ project.name }} <!-- <i class="edit fas fa-pencil"></i>--></h1>
          <p>{{ project.description }} <!--<i class=" edit fas fa-pencil"></i>--></p>
        </div>
      </div>
      
      <div class="edit-pr">
        <!-- <a href="" title="edit project"><i class="fas fa-pencil"></i></a> -->
        <a class="btn-create-tk" title="Crear tarea"><i class="fa-solid fa-plus"></i></a>
        <a href="" title="."><i class="fa-solid fa-ellipsis-vertical"></i></a>
      </div>
    </header>
    
    <hr />
    
    <div class="action-ts"> 
      <form method="GET" id="filter-tasks-form">
        <label for="all-taks">
          <input type="checkbox" id="all-taks" value="all" name="filter" {% if filter == 'all' %}checked{% endif %} />
          all
        </label>
        
        <label for="completed-taks">
          <input type="checkbox" id="completed-taks" value="completed" name="filter" {% if filter == 'completed' %}checked{% endif %} />
          completed
        </label>
        
        <label for="pending-tasks">
          <input type="checkbox" id="pending-tasks"  value="pending" name="filter" {% if filter == 'pending' %}checked{% endif %} />
          pending
        </label>
        
        <!-- <input type="text" class="search-task" /> -->
        
        <button type="submit">Filtrar</button>
      </form>
      <span>{{ tasks.count }} tareas encontradas</span>
    </div>
    
    {% if has_tasks %}
      <div class="container-ts">
        {% for task in tasks %}
        <a href="/" class="card-tk">
          <div class="truncate-text-tk">
            <h2 class="title-tk">{{ task.title }}</h2>
            <!-- <br /> -->
            <span class="desc-tk">{{ task.description }}</span>
          </div>        
          <div class="edit-tk">
            <input type="checkbox" />
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>        
        </a>
        {% empty %}
        <div class="msg-ts">
          <span>No hay tareas para mostrar</span>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="msg-ts">
        <span>Todavia no tienes tareas en este proyecto.</span>
        <a href="" class="btn-create-tk">Crear tarea</a>
      </div>
    {% endif %}
    
  </div>
  
  <!-- <hr> -->
  
  <div class="form-create-task">
    <h2>Crear nueva Tarea</h2>

    
    <form method="POST">  
      {% csrf_token %}
      {{ form.as_p }}
      <button>Save</button>
    </form>
  </div>
  
  
</div>
{% endblock %}
  
{% block extra_scripts %}
  
  <script >

    const checkboxes = document.querySelectorAll('input[name="filter"]'); 
    console.log(checkboxes)
    console.log(",ssdjd");
  
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          checkboxes.forEach((cb) => {
            if (cb !== this) {
              cb.checked = false;
            }
          });
        }
      })
    })
  </script>

{% endblock %}